<div class="panel panel-info">
  <div class="panel-body" style="font-weight:700;">Description Bar <hr></div>
  <div class="panel-body" style="font-weight:700; font-family: Courier New;"><div class="col-md-3 pull-right"><div class="panel panel-info" style="font-size:25px; padding:8px; ">Post Id:<hr> <div class="text-center"> {{displayData.id}}</div></div></div>
  <div class="col-md-9 pull-left"><div class="panel panel-info" style="font-size:27px; padding:8px; ">Post Title:<hr> {{displayData.title}}</div></div>
  <div class="col-md-12"><div class="panel panel-info" style="font-size:27px; padding:8px; ">Post Data:<hr> {{displayData.body}}</div></div>
  
</div>

</div>