

    <div class="container" id="form"><div class="col-md-2"></div>
    <div class="col-md-8">
    <div class="centercontent">
        <form class="form-style" name="register_form" id="register_form">
        <h1>User Registration Form</h1>
          <hr id="hrline">
      
        <ul> 
        <li>
            
            <input type="text" name="name" id="fname" class="field-style field-split align-left" placeholder="Enter your name" [(ngModel)]="formObject.name" />
            <input type="text" name="contact" class="field-style field-split align-right" placeholder="Contact No." [(ngModel)]="formObject.contact" />            
        
        </li>
       
        <li>
        <textarea name="address" class="field-style" placeholder="Full Address" [(ngModel)]="formObject.address"></textarea>
        </li>
        <li>
     <input type="submit" Value="Submit Data" id="submit" (click)="submitForm()"/>
        </li>
        </ul>
        </form>
        </div>
      </div>
      <div class="col-md-2"></div>
      </div>
      <div class="container">
      <div id="topbar2">
        <font><b>Hi! This is your Bio-Data.</b></font>
        </div>
        <div id="details">
        <div style="font-family:Courier New;text-align:center;">
    <h1> Your Name: {{formObject.name}}</h1>
    <h2> Your Contact: {{formObject.contact}}</h2>
    <h3> Your Address: {{formObject.address}}</h3>
  
      </div></div>
    </div>
 