<div class="container">
<div class="col-md-2"></div>
<div class="col-md-8">
<div class="panel panel-info">
    <div class="panel-body" style="font-family: Courier New;">
        <div class="centercontent">
           <h2>Model Driven Form</h2>
           <hr id="hrline">
         </div> 
    <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
      <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['firstName'].valid && complexForm.controls['firstName'].touched}">
        <label>First Name:</label>
        <input class="form-control" type="text" placeholder="Ankit" [formControl]="complexForm.controls['firstName']">
        <!-- The hasError method will tell us if a particular error exists -->
        <div *ngIf="complexForm.controls['firstName'].hasError('required') && complexForm.controls['firstName'].touched" class="alert alert-danger">You must include a first name.</div>
       <!-- <div *ngIf="complexForm.controls('firstName').hasError('pattern') && complexForm.controls['firstName'].touched" class="alert alert-danger"> Invalid name! </div> -->
      </div>
      <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['lastName'].valid && complexForm.controls['lastName'].touched}">
        <label>Last Name:</label>
        <input class="form-control" type="text" placeholder="Kumar" [formControl]="complexForm.controls['lastName']">
        <!-- The hasError method can work with the built in validators but custom validators as well -->
        <div *ngIf="complexForm.controls['lastName'].hasError('required') && complexForm.controls['lastName'].touched" class="alert alert-danger">You must include a last name.</div>
        <div *ngIf="complexForm.controls['lastName'].hasError('minlength') && complexForm.controls['lastName'].touched" class="alert alert-danger">Your last name must be at least 5 characters long.</div>
        <div *ngIf="complexForm.controls['lastName'].hasError('maxlength') && complexForm.controls['lastName'].touched" class="alert alert-danger">Your last name cannot exceed 10 characters.</div>
      </div>

      <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['contact'].valid && complexForm.controls['contact'].touched}">
        <label>Contact:</label>
        <input class="form-control" type="text" placeholder="8888XXXX00" [formControl]="complexForm.controls['contact']">
        <!-- The hasError method will tell us if a particular error exists -->
        <div *ngIf="complexForm.controls['contact'].hasError('required') && complexForm.controls['contact'].touched" class="alert alert-danger">You must include your contact number.</div>
        <div *ngIf="complexForm.controls['contact'].hasError('minlength') && complexForm.controls['contact'].touched" class="alert alert-danger">Your contact number must be at least 10 digits long.</div>
        <div *ngIf="complexForm.controls['contact'].hasError('maxlength') && complexForm.controls['contact'].touched" class="alert alert-danger">Your contact number cannot exceed 10 digits.</div>
        <div *ngIf="complexForm.controls['contact'].hasError('pattern') && complexForm.controls['contact'].touched" class="alert alert-danger">Invalid contact number.</div>        
      </div>
      <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['email'].valid && complexForm.controls['email'].touched}">
        <label>Email Id:</label>
        <input class="form-control" type="text" placeholder="xyz@test.com" [formControl]="complexForm.controls['email']">
        <!-- The hasError method will tell us if a particular error exists -->
        <div *ngIf="complexForm.controls['email'].hasError('required') && complexForm.controls['email'].touched" class="alert alert-danger">You must include your email id.</div>
        <div *ngIf="complexForm.controls['email'].hasError('pattern') && complexForm.controls['email'].touched" class="alert alert-danger">Invalid email id. Please try another!</div>
        
      </div>
      <div class="panel panel-default">
          <div class="panel-body" style="font-family: Courier New;">
      <div class="form-group">
        <label>Gender:</label>
        <div class="alert alert-danger" *ngIf="!complexForm.controls['gender'].valid && complexForm.controls['gender'].touched">You must select a gender.</div>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="gender" value="Male" [formControl]="complexForm.controls['gender']">
          Male
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="gender" value="Female" [formControl]="complexForm.controls['gender']">
          Female
        </label>
      </div></div></div>
      <div class="panel panel-default">
          <div class="panel-body" style="font-family: Courier New;">
      <div class="form-group">
        <label>Hobbies:</label>
      </div>
      <label class="checkbox-inline">
        <input type="checkbox" value="hiking" name="hiking" [formControl]="complexForm.controls['hiking']"> Hiking
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value="swimming" name="swimming" [formControl]="complexForm.controls['swimming']"> Swimming
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value="running" name="running" [formControl]="complexForm.controls['running']"> Running
      </label></div></div>
      <hr id="hrline">
      <div class="form-group centercontent">
        <button type="submit" class="btn btn-primary" [disabled]="!complexForm.valid">Submit Data</button>
      </div>
    </form>
  
  </div>
  </div>
</div>
<div class="col-md-2"></div>
</div>
<div class="container">
    <div class="col-md-2"></div>
  <div class="col-md-8">
      <div class="panel panel-info">
          <div class="panel-body" style="font-family: Courier New;">
  <p>Form value: {{ complexForm.value | json }}</p><p>Form status: {{ complexForm.status | json }}</p>
  </div></div>
</div>
<div class="col-md-2"></div>
</div>
