#h1 {
    font-size:50px;
    text-align: center;
    width: 800px;
    margin-top: 180px;
    }

#strip{
    margin-left: 320px;
    width: 120px;
    height: 10px;
    background: #40FFDC;
    display: block;
    text-align: center;
    margin-top: 30px;
}